<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <error-page>
        <exception-type>ru.clevertec.webservlet.exception.NotFoundException</exception-type>
        <location>/exception_handler</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.webservlet.exception.ConnectionException</exception-type>
        <location>/exception_handler</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.webservlet.exception.UniqueException</exception-type>
        <location>/exception_handler</location>
    </error-page>
    <error-page>
        <exception-type>io.jsonwebtoken.JwtException</exception-type>
        <location>/exception_handler</location>
    </error-page>

    <filter>
        <filter-name>PasswordEncoderFilter</filter-name>
        <filter-class>ru.clevertec.webservlet.filter.PasswordEncoderFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>ru.clevertec.webservlet.filter.LoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ru.clevertec.webservlet.filter.EncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JwtFilter</filter-name>
        <filter-class>ru.clevertec.webservlet.filter.JwtFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PasswordEncoderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JwtFilter</filter-name>
        <url-pattern>/roles</url-pattern>
        <url-pattern>/users</url-pattern>
    </filter-mapping>

</web-app>
